#table-list-wrapper {
    margin: 36px auto;
    padding: 0 80px;
}
#table-list-wrapper header span {
    display: inline-block;
    margin-right: 24px;
}
/* Table */
#table-list .table {
    position: relative;
    width: 416px;
    display: inline-block;
    margin: 0 48px 48px 0;
}
.table h5 {
    margin: 0 0 8px;
}
.table h5 .ic-chevron-right {
    font-size: 0;
    padding: 12px;
    margin-left: 4px;
    background-image: url(../images/icons/chevron_right.svg);
    vertical-align: bottom;
    display: inline-block;
}
.table h5 .delete {
    float: right;
    font-size: var(--text-small);
    background: var(--theme-warn-light);
    padding: 2px;
}
.table .card {
    background: white;
    width: 100%;
    height: 240px;
    padding: 16px;
    border-radius: 0 30px 30px 0;
    position: relative;
    overflow: hidden;
}
.table .card .table-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    display: inline-block;
}
.table .card span,
.table .card li,
.table .card h5 {
    font-size: var(--text-small);
}
.table .card .achievement,
.table .card .include-tags {
    width: 200px;
    display: inline-block;
}
.table .card .achievement {
    margin-bottom: 24px;
}
.table .card .achievement .header {
    overflow: hidden;
}
.table .card .achievement .header .title {
    float: left;
}
.table .card .achievement .header .percentage {
    color: var(--text-point);
    float: right;
}
.table .card .achievement .progress-bar {
    width: 100%;
    height: 4px;
    background: #D0CFD4;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15) inset;
    position: relative;
    border-radius: 3px;
}
.table .card .achievement .progress-bar .progress {
    display: inline-block;
    height: 100%;
    background-color: var(--text-point);
    position: absolute;
    border-radius: 4px;
    box-shadow: 2px 0 4px rgba(0,0,0,0.15);
}
.table .card .include-tags .header {
    margin-bottom: 8px;
}
.table .card .pi-graph {
    position: absolute;
    background: lightblue;
    right: 16px;
    bottom: 16px;
    width: 160px;
    height: calc(100% - 32px);
}
.table .copy-table-link {
    float: right;
    font-size: var(--text-small);
    margin-top: 8px;
}
.table .copy-table-link .ic-copy {
    font-size: 0;
    padding: 8px;
    background-image: url(../images/icons/copy.svg);
    vertical-align: middle;
    display: inline-block;
}
