/* variables */
:root {
    --theme-bg-light: #F9F6E7;
    --theme-point: #8BC691;
    --theme-point-light: #CAE2AC;
    --theme-warn-light: #F9D5D5;
    --text: #2B2B2B;
    --text-light: rgba(0, 0, 0, 0.55);
    --text-point: #1A8CF6;
    --text-point-light: #a3caff;
    --text-small: 0.7rem;
    font-size: 20px;
}

/* RESET */
* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; margin: 0; }
h1, h5, span, p, a, li, button { color: var(--text); font: normal 1rem/130% "Noto Sans KR"; }
h1 { font-size: 1.8rem; }
ul, ol { padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
button { background: none; border: none; padding: 0; cursor: pointer; }

.text-light { color: var(--text-light); }
.text-small { font-size: var(--text-small); }

.tag { 
    background: var(--theme-point-light); 
    padding: 4px 8px; 
    border-radius: 3px; 
    display: inline-block;
    margin: 0 8px 8px 0;
}
a, button {
    background-color: transparent;
    transition: background-color .1s ease-out;
}
a:hover, button:hover {
    background-color: var(--text-point-light);
}

/* Title */
.underline {
    position: relative;
    z-index: 0;
    font-size: inherit;
}
.underline::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0.15em;
    height: 0.4em;
    width: 100%;
    z-index: -1;
    background-color: var(--theme-point-light);
}

#container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: var(--theme-bg-light);
    padding: 56px 0 104px 56px;
    border-right: 32px solid var(--theme-point);
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    right: 136px;
    background: white;
    display: inline-block;
    border-bottom: 16px solid var(--theme-point-light);
    padding: 0 40px;
    border-radius: 30px 30px 0 0;
}