
section {
    padding-right: 56px;
}
section .table-name {
    margin-bottom: 16px;
}

/* 검색 */
#search {
    float: right;
    position: relative;
    margin-bottom: 24px;
}
#search label {
    position: absolute;
    left: 16px;
    z-index: 1;
    color: transparent;
    line-height: 56px;
}
#search-input:invalid + label {
    color: var(--text-light);
}
#search-input {
    width: 320px;
    height: 56px;
    padding-left: 16px;
    border-radius: 8px 8px 0 0;
    border-bottom: 8px solid var(--theme-point);
}
#search .autocomple {
    max-height: 320px;
    width: 320px;
}
#search .autocomple.show {
    display: inline-block;
}
#search .autocomple li {
    padding: 8px;
    position: relative;
    font-size: 0;
}
#search .autocomple li.added { 
    background: var(--disabled); 
}
#search .autocomple li.added::after {
    content: "추가됨";
    color: var(--text-light);
    font-size: var(--text-small);
    float: right;
    line-height: 1;
}
#search .autocomple div {
    display: inline-block;
}
#search .autocomple .image-wrapper {
    vertical-align: top;
    margin-right: 8px;
}
#search .autocomple .image-wrapper img {
    width: 48px;
}
#search .autocomple .text-wrapper {
    width: 168px;
    font-size: 0;
}
#search .autocomple .text-wrapper button {
    overflow: hidden;
    text-align: left;
    word-break: break-word;
}
#search .autocomple .text-wrapper span {
    display: block;
}
/* 필터 */
#filter {
    font-size: 0;
    width: calc(100% - 464px);
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}
#filter .show-list,
#applied-filters li,
#applied-filters {
    display: inline-block;
    margin: 0 16px 8px 0;
}
#applied-filters .tag {
    margin: 0;
}
#applied-filters .tag.false {
    background-color: var(--theme-warn-light);
}
#applied-filters .tag:hover {
    background-color: var(--theme-warn);
}
#applied-filters .tag .ic-close {
    background: url("../images/icons/close.svg") left 16px/16px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    line-height: 30px;
}
#applicable-filters {
    width: 216px;
    max-height: 360px;
}
#applicable-filters.show {
    display: inline-block;
}
#applicable-filters li {
    position: relative;
    padding: 8px;
    font-size: 0;
}
#applicable-filters .added {
    background: var(--disabled);
}
#applicable-filters li.added::after {
    content: "추가됨";
    color: var(--text-light);
    font-size: var(--text-small);
    float: right;
    line-height: 1;
    margin-top: 4px;
}
#applicable-filters button {
    max-width: 120px;
    word-break: break-word;
    text-align: left;
    overflow: hidden;
    padding: 4px;
}
#applicable-filters .true {
    background: var(--theme-point-light);
}
#applicable-filters .false {
    background: var(--theme-warn-light);
}

/* Table */
.table-wrapper {
    overflow-y: scroll;
    height: 640px;
    background: white;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
    clear: both;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
th, td {
    text-align: left;
}
/* Table head */
thead tr {
    height: 56px;
}
thead tr th {
    border-bottom: 2px solid var(--text-light);
    z-index: 1;
    background: white;
    position: sticky;
    top: 0;
    padding-left: 16px;
    text-align: left;
}
.ic-sort-desc {
    background: url("../images/icons/sort.png");
    padding: 12px;
    vertical-align: bottom;
    margin-left: 8px;
}
thead tr th.complete-stamp {
    width: 156px;
}
thead tr th.furniture-name {
    width: 400px;
}
thead tr th.variations {
    width: 680px;
}
/* Table body */
tbody tr {
    height: 80px;
    border-bottom: 2px solid var(--disabled);
}
tbody tr.complete {
    background: rgba(20,70,5,0.1);
}
tbody tr td.complete-stamp button {
    display: flex;
    margin-left: 16px;
    height: 72px;
    width: 80px;
}
tbody tr .complete-stamp button img {
    display: none;
}
tbody tr.complete .complete-stamp button img {
    display: initial;
}
tbody th, td {
    padding-left: 16px;
}
tbody .furniture-name {
    position: relative;
}
tbody .furniture-name img {
    width: 64px;
}
tbody .furniture-name .text-group {
    display: inline-block;
    margin-left: 16px;
    line-height: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
tbody .furniture-name .kr {
    display: block;
}
tbody .furniture-name .en {
    color: var(--text-light);
    font-size: var(--text-small);
}
tbody .variations ul {
    margin: 0;
}
tbody .variations li {
    display: inline-block;
    position: relative;
    padding: 0 8px;
}
tbody .variations li img {
    width: 48px;
    margin: auto;
    display: block;
}
tbody .variations li .has {
    font-size: 0;
    float: left;
    display: none;;
}
tbody .variations li.has .has {
    display: inline;
}
tbody .variations li.has img,
tbody .variations li.has .color-name {
    opacity: 0.1;
}
tbody .delete button {
    padding: 8px 16px;
    background-color: var(--theme-warn-light);
}
tbody .delete button:hover,
tbody .delete button:focus {
    background-color: var(--theme-warn);
}