<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kroject.acnh.mapper.itemMapper">
    
    <insert id="insertItem" parameterType="ItemVO">
    	INSERT	items(id, name_en, name_kr)
    	VALUES	(#{id}, #{name_en}, #{name_kr})
    	<selectKey resultType="Integer" keyProperty="id" order="AFTER">
    		SELECT LAST_INSERT_ID() as id
    	</selectKey>
    </insert>

    <update id="updatePreviewVariantId">
        UPDATE  items
        SET     preview_variant_id = #{variant_id}
        WHERE   id = #{id}
    </update>

</mapper>