<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kroject.acnh.mapper.rowMapper">

    <insert id="insertRow">
        INSERT  rows(sheet_id, item_id)
        VALUES  (#{sheet_id}, #{item_id})
    </insert>

    <select id="selectAvailableSheetRows" resultType="RowVO">
        SELECT  id, is_complete, item_id
        FROM    rows
        WHERE   sheet_id = #{sheet_id} AND is_deleted = FALSE
    </select>
    
    <insert id="insertRowItemVariant">
        INSERT  row_item_variants(row_id, variant_id)
        VALUES  (#{row_id}, #{variant_id})
    </insert>


    <!-- queries for row_item_variants table -->
    <update id="updateRowItemVariant">
        UPDATE  row_item_variants
        SET     is_owned = #{is_owned}
        WHERE   id = #{id}
    </update>

    <select id="selectRowItemVariants" resultType="RowVO">
        SELECT  is_owned, id as row_item_variant_id
        FROM    row_item_variants
        WHERE   row_id = #{row_id}
    </select>

    
</mapper>