<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kroject.acnh.mapper.tagMapper">

    <insert id="insertTag">
        INSERT  tags(category, content)
        VALUES  (#{category}, #{content});
    </insert>

    <!-- queries for item_tags table-->
    <insert id="insertItemTag">
        INSERT  item_tags(tag_id, item_id)
        VALUES  (#{tag_id}, #{item_id});
    </insert>

</mapper>